.formParent {
  /* width: 80%; */
  display: flex;
  /* border: 1px solid red; */
  /* align-content: stretch; */
  justify-content: center;
  align-items: stretch;
  position: relative;
}

.input {
  /* border: 1px solid blue; */
  flex: 1;
  border: none;
  padding: 12px;
  width: 80%;
  line-height: 1.2rem;
  font-size: large;
  border-radius: 10px 0 0 10px;
  /* margin-bottom: 10px; */
  height: 100%;
}

.btn {
  background-color: #000000d1;
  border: none;
  color: white;
  padding: 3px 6px;
  /* height: 30%; */
  font-size: large;
  border-radius: 0 10px 10px 0;
  /* position: absolute; */
  /* right: 7.1%; */
  width: auto;
  z-index: 1;
  cursor: pointer;
}
